Repository jakobo/expo-community-flipper: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore: Updates readme with expo sdk policy
  plugin/README.md
Due: prettier --write

fix: Updates podfile for native_module support
  CHANGELOG.md
  plugin/build/withFlipper.js
  plugin/src/withFlipper.ts
Due: prettier --write, tslint --fix

docs: Adds reference links to root readme
  README.md
Due: prettier --write

fix: Updates post install tag reference
  plugin/src/withFlipper.ts
Due: prettier --write, tslint --fix

chore: Reverts built file for PR
  plugin/build/withFlipper.js
Due: prettier --write, tslint --fix

fix: Adds disable call to post_install step as well
  plugin/src/withFlipper.ts
Due: prettier --write, tslint --fix

docs: Adds a note about disabling flipper to the readme
  README.md
Due: prettier --write

fix: Changes 'release' script that could conflict if trying to run script in some environments
  package.json
Due: prettier --write

chore: Builds plugin
  plugin/build/withFlipper.js
Due: prettier --write, tslint --fix

chore: Releases version v45.1.0
  example/package.json
  package.json
  plugin/package.json
Due: prettier --write

docs: Adds link to expo's SDK support
  README.md
Due: prettier --write

deps: Makes expo 46 changes
  CHANGELOG.md
  example/.gitignore
  example/app.json
  example/package.json
  plugin/package.json
  yarn.lock
Due: prettier --write

fix: Performs flipper init in AppDelegate for rn 0.68+, adds semver check
  plugin/build/withFlipper.d.ts
  plugin/build/withFlipper.js
  plugin/package.json
  plugin/src/withFlipper.ts
  yarn.lock
Due: prettier --write, tslint --fix

docs: Updates changelog with breaking notes
  CHANGELOG.md
Due: prettier --write

chore: Releases version v46.0.0
  example/package.json
  package.json
  plugin/package.json
Due: prettier --write

fix: Changes SDK46 podfile to use new URN args
  README.md
  example/app.json
  example/package.json
  plugin/build/constants.d.ts
  plugin/build/constants.js
  plugin/build/types.d.ts
  plugin/build/types.js
  plugin/build/util.d.ts
  plugin/build/util.js
  plugin/build/withFlipper.android.d.ts
  plugin/build/withFlipper.android.js
  plugin/build/withFlipper.d.ts
  plugin/build/withFlipper.ios.d.ts
  plugin/build/withFlipper.ios.js
  plugin/build/withFlipper.js
  plugin/package.json
  plugin/src/constants.ts
  plugin/src/types.ts
  plugin/src/util.ts
  plugin/src/withFlipper.android.ts
  plugin/src/withFlipper.ios.ts
  plugin/src/withFlipper.ts
  yarn.lock
Due: prettier --write, tslint --fix

refactor: Removes old sdk43 tests
  plugin/src/__tests__/__fixtures__/README.md
  plugin/src/__tests__/__fixtures__/sdk43/android/gradle.properties
  plugin/src/__tests__/__fixtures__/sdk43/ios/Podfile
  plugin/src/__tests__/__snapshots__/withFlipper-test.ts.snap
  plugin/src/__tests__/withFlipper-test.ts
Due: prettier --write, tslint --fix

docs: Adds changelog notes
  CHANGELOG.md
Due: prettier --write

fix: Removes linking checks for sdk46
  plugin/build/util.d.ts
  plugin/build/util.js
  plugin/build/withFlipper.ios.js
  plugin/package.json
  plugin/src/util.ts
  plugin/src/withFlipper.ios.ts
  yarn.lock
Due: prettier --write, tslint --fix

fix: Changes env check to an explicit hard-check to mirror the production check code
  README.md
  plugin/src/withFlipper.ios.ts
Due: prettier --write, tslint --fix

refactor: Rebuilds plugin
  plugin/build/withFlipper.ios.js
Due: prettier --write, tslint --fix

Add SDK 46 as verified version
  README.md
Due: prettier --write

fix: Changes Flipper includes for React Native 0.69.2+
  CHANGELOG.md
  README.md
  example/app.json
  example/package.json
  plugin/build/constants.d.ts
  plugin/build/constants.js
  plugin/build/types.d.ts
  plugin/build/types.js
  plugin/build/util.d.ts
  plugin/build/util.js
  plugin/build/withFlipper.android.d.ts
  plugin/build/withFlipper.android.js
  plugin/build/withFlipper.d.ts
  plugin/build/withFlipper.ios.d.ts
  plugin/build/withFlipper.ios.js
  plugin/build/withFlipper.js
  plugin/package.json
  plugin/src/__tests__/__fixtures__/README.md
  plugin/src/__tests__/__fixtures__/sdk43/android/gradle.properties
  plugin/src/__tests__/__fixtures__/sdk43/ios/Podfile
  plugin/src/__tests__/__snapshots__/withFlipper-test.ts.snap
  plugin/src/__tests__/withFlipper-test.ts
  plugin/src/constants.ts
  plugin/src/types.ts
  plugin/src/util.ts
  plugin/src/withFlipper.android.ts
  plugin/src/withFlipper.ios.ts
  plugin/src/withFlipper.ts
  yarn.lock
Due: prettier --write, tslint --fix

chore: Releases version v46.0.1
  example/package.json
  package.json
  plugin/package.json
Due: prettier --write

Clarify other places where FLIPPER_DISABLE can be set
  README.md
Due: prettier --write

docs: Clarifies other places where FLIPPER_DISABLE can be set
  README.md
Due: prettier --write

fix: Makes version optional in expanded config
  plugin/src/types.ts
Due: prettier --write, tslint --fix

feat: Enables the ability to strip use_frameworks
  example/app.json
  example/package.json
  plugin/build/constants.d.ts
  plugin/build/constants.js
  plugin/build/types.d.ts
  plugin/build/util.js
  plugin/build/withFlipper.ios.js
  plugin/build/withFlipper.js
  plugin/package.json
  plugin/src/constants.ts
  plugin/src/types.ts
  plugin/src/util.ts
  plugin/src/withFlipper.ios.ts
  plugin/src/withFlipper.ts
  yarn.lock
Due: prettier --write, tslint --fix

docs: Adds notes about compatibility and configuration
  README.md
  plugin/README.md
Due: prettier --write

docs: Moves AC badge
  README.md
Due: prettier --write

docs: Updates all-contributors
  .all-contributorsrc
Due: none

docs: Updates all-contributors
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,gql,graphql,md,yaml,yml}) or (any of: plugin/**/*.{js,ts,jsx,tsx,vue})
  tslint --fix: any of: plugin/**/*.{js,ts,jsx,tsx,vue}
